
@bg_color_light: #282828;
@bg_color_dark: #181a1b;
@text_color: #c2bfb8;
@btn_color: rgb(133, 169, 185);

@panel_width: 80vw;

html{
	height:100%;
	text-align:center;
}

body{
	display: inline-block;
	width: @panel_width;
	color: @text_color;
	font-size: 120%;
	counter-reset: heading;

	@media (max-width: 800px){
		font-size: 100%;
		width: 100%;
	}
}

#zoom-bg{
	background-color: fade(@bg_color_dark,70);
	position:fixed;
	width: 100vw;
	height:100vh;
	left:0px;
	top:0px;
    z-index:9997;

	.zoom-x{
		position:fixed;
		right:5vw;
		top:5vh;
	}

	&.hidden{
		display: none;
		.zoom-x{
			display: none;
		}
	}

}

.navbar{
	padding-left: 5vw;
	padding-right: 5vw;
	margin-left: 0vw;
	margin-right: 0vw;
	background-color: @bg_color_light;
    z-index:9996;

	&.sticky {
	  position: fixed;
	  top: 0;
	  left:((100wh-@panel_width)/2vw);
	  width: @panel_width - 2vw;

	  @media (max-width: 800px){
		width: 100%;
	  	left:0px;
	  }

	  #up-arrow{
	  	display: block;
	  }
	}
}

#toc-wrapper{
	text-align: left;
	margin: 20px;

	#table-of-contents{
		text-align: center;
		list-style: decimal inside;
		display: inline-block;
		border-top: 1px solid @text_color;
		border-bottom: 1px solid @text_color;
		padding: 8px;

		&:before{
			content: "Spis treści:";
		}

		a{
			display: list-item;
			text-align: left;
		}
	}
}


.text{
	width: 100%;
	padding-left: 10vw;
	padding-right: 10vw;

	@media (max-width: 800px){
		padding-left: 0vw;
		padding-right: 0vw;
	}

	.title{
		padding-bottom:0px;
	}

	.subtitle{
		padding-top:0px;
		font-size: 1.75rem;
	}

	h1{
		font-size: 300%
	}

	h3{
		padding-top: 40px;
		padding-bottom: 20px;
		position: relative;
		text-align: left;

		&:before {
			content: counter(heading)". ";
			counter-increment: heading;
		}

		.date{
			position: absolute;
			top:40px;
			right:10px;
			font-size: 1rem;
			text-align: right;
		}
	}

	p{
		text-align: justify;
			text-justify: inter-word;
	}

	a{
		color:@btn_color;
	}

	.col{
		padding:5px;
		height: 100%
	}

	li{
		text-align:justify;
	}
}

img{
	margin: 5px;

	width: 100%;
	height: auto;

	&.big{
		width: 30vw;
	}
}

.zoomed{
	position: fixed;
	left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    z-index:9998;
	img{
		max-width: 99%;
   		max-height: 99%;
		width: auto;
		height: auto;
    	z-index:9999;
	}
}

.video-wrapper{
	width: 100%;
	//max-width: 600px;
	height: 100%;
	margin: 0 auto;
	background: #CCC;
	&.big{
		width: 30vw;
	}
}
.video-frame{
	position: relative;
	padding-top: 56%;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}