@bg_color_light: #282828;
@bg_color_dark: #181a1b;
@text_color: #c2bfb8;
@btn_color: rgb(133, 169, 185);

.navbar{
	width: 100%;
	color: @text_color;
	padding-left: 5vw;
	padding-right: 5vw;
}

.card-gallery{
}

.card {
	vertical-align: top;
	display:inline-block;
  	background-color: @bg_color_dark;
  	color: @text_color;
  	border-color: rgba(140, 130, 115, 0.13);
	margin:8px;
	text-align: left;
    height: 400px;
    width: 18rem;

	p {
	    font-size: 17px;
	    line-height: 1.7;
	    height:115px;
	    margin-bottom: 20px;	
	}

	.link-div{
		text-align: center;
	}
}

img{
	&.card-img-wide{
    	width: 286px;
		height:161px;
	}
	&.card-img-tall{
    	width: 286px;
		height:214px;
	}
}
