.navbar {
  width: 100%;
  color: #c2bfb8;
  padding-left: 5vw;
  padding-right: 5vw;
}
.card {
  vertical-align: top;
  display: inline-block;
  background-color: #181a1b;
  color: #c2bfb8;
  border-color: rgba(140, 130, 115, 0.13);
  margin: 8px;
  text-align: left;
  height: 400px;
  width: 18rem;
}
.card p {
  font-size: 17px;
  line-height: 1.7;
  height: 115px;
  margin-bottom: 20px;
}
.card .link-div {
  text-align: center;
}
img.card-img-wide {
  width: 286px;
  height: 161px;
}
img.card-img-tall {
  width: 286px;
  height: 214px;
}
